<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
  </head>
  <body>
    <h1>Homepage</h1>
    <a href="/login">Log in</a>
    <a href="/signup">Sign up</a>
    <%if(locals.user){%>
      <p><%=locals.user%> is logged in</p>
      <%}%>
   <ul>

        <% for(let i = 0; i < locals.messages.length; i++){%>
        <li>
          <%=locals.messages[i].message_user %>
          <button><a href="/message/<%=locals.messages[i].id%>">view</a></li>
          </button>
        <ul>
          <%for(const prop in locals.messages[i]){%>
          <li><%=prop%> : <%=locals.messages[i][prop]%></li>
          <%}%>
        </ul>
        <%}%>
      </ul> 
  </body>
</html>
